<!-- Onglet Title -->
<% @title="Adhesion" %>


<!-- component -->
<div class="h-screen md:flex">
	<div class="relative overflow-hidden md:flex w-1/3 bg-gradient-to-tr from-green-400 to-blue-600 i justify-around items-center hidden">
		<div class="container">

			<h1 class="text-white font-bold text-4xl font-sans"> 
        <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-500 relative inline-block">
        <span class="relative text-white">Adhésion</span>
      </span>
      <br> à l'organisation humanitaire Action<sup>+</sup>
      </h1>
			<p class="text-black mt-1">Vous voulez contribuer à sauver des vies ? <br> Rejoignez la communauté Action<sup>+</sup> !
<br> <span class="font-semibold underline"> C'est facile, gratuit et 1 minute suffira.</span></p>
			
    <button type="submit" class="block uppercase  bg-white text-indigo-600
      mt-4 py-2 rounded-2xl font-bold m-2" onclick="openModal('modal')" >
      Ensemble pour plus d'Action
      <sup>+</sup>
    </button>
		</div>
		<div class="absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
		<div class="absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
		<div class="absolute -top-40 -right-0 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
		<div class="absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
	</div>
	<div class="flex md:w-2/3 justify-center  items-center bg-white">
	
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= render_notification %>

		<h1 class="text-gray-800 font-bold text-2xl mb-2">Vous et Action<sup>+</sup> Agisons Ensemble pour sauver des vies</h1>
		<p class="text-sm font-normal text-gray-600 mb-2">Devenez Membre Adherent d'Action<sup>+</sup></p>

			<div class="flex items-center mt-8 mb-2">
          <%= f.text_field :first_name, class:"placeholder:italic placeholder:text-slate-400 outline-none border rounded-md py-2 w-full", placeholder:"Nom ..." %>
          <%= f.text_field :last_name, class:"placeholder:italic placeholder:text-slate-400 outline-none border ml-2 rounded-md py-2 w-full", placeholder:"Prénom..." %>
      </div>
	
        <%= f.email_field :email, placeholder:"Addresse Email ...", class:"placeholder:italic placeholder:text-slate-400 flex border py-2 rounded-md w-full my-2" %>			
      
      <%#= f.country_select  :country, collection: countries_alpha3_options, format: :with_data_attrs, class:"pl-2 outline-none border rounded-md", placeholder:"pays code..." %>
      <div class="flex w-full py-2 mb-2">
          <%= f.text_field  :country_code,
          class:"placeholder:italic placeholder:text-slate-400 flex border py-2 rounded-md w-full" %>
    
        <%= f.text_field :contact, placeholder:"N° telephone ...", class:"flex border py-2 ml-2 rounded-md w-full" %>	
      </div>
      
        <%= f.password_field :password, class:"flex border py-2 rounded-md w-full", placeholder:"Mot de passe ..." %>				
      <%= f.hidden_field :category, value:"Adherent" %>
      <div class="flex items-center  py-2 ">
      <%= f.check_box :terms, value:"oui", class:" mr-4", checked:true %>
      <p class="text-sm">
        Oui, j'adhère à <%= link_to root_path, class:"font-semibold" do %> la charte des valeurs, aux statuts et 
        aux règles <br />de fonctionnement  de ACTION+, <% end %> <br />ainsi qu'aux
        <%= link_to "conditions générales d'utilisation", root_path %> de la plateforme et à la politique <br />
        de <%= link_to 'protection des données', root_path ,class:"font-semibold" %> à caractère personnel de la plateforme.
       </p>
      </div>
      
      <%= f.submit "Créer, Votre Compte", class:"block w-full bg-green-600 mt-2 py-2 pb-2 rounded-2xl text-white font-semibold mb-2" %>
		<% end %>
	</div>
</div>


        <!-- Modal apprendre plus -->


<div id="modal" class="fixed hidden z-50 inset-0 bg-gray-900 bg-opacity-60 overflow-y-auto h-full w-full px-4">
    <div class="relative top-40 mx-auto shadow-lg rounded-md bg-white max-w-md">

        <!-- Modal header -->
        <div class="flex justify-between items-center bg-green-500 text-white text-md rounded-t-md px-4 py-2">
            <h3 class="uppercase">charte des valeurs</h3>
            <button onclick="closeModal()">x</button>
        </div>

        <!-- Modal body -->
        <div class="max-h-48 overflow-y-scroll p-4">
            <p>Scrollable modal body</p>
            <p>Scrollable modal body</p>
            <p>Scrollable modal body</p>
            <p>Scrollable modal body</p>
            <p>Scrollable modal body</p>
            <p>Scrollable modal body</p>
            <p>Scrollable modal body</p>
            <p>Scrollable modal body</p>
            <p>Scrollable modal body</p>
            <p>Scrollable modal body</p>
        </div>

        <!-- Modal footer -->
        <div class="px-4 py-2 border-t border-t-gray-500 flex justify-end items-center space-x-4">
            <button class="bg-blue-500 text-black border-1 px-4 py-2 rounded-md hover:bg-blue-700 transition" onclick="closeModal()">Fermer</button>
        </div>
    </div>
</div>





<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
