
<% @title="Accueil" %>
<div class="container-xxl bg-gray-200 p-0">

<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent">
    <%= render "welcome/shared/navbar" %>
</div>
<!-- Navbar End -->

<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
    <%= render "welcome/shared/header" %>
</div>
<!-- Header End -->

<!-- Header Start -->
<div class="container-xxl bg-white p-0">
    <%= render "welcome/shared/ourwork" %>
</div>
<!-- Header End -->
<!-- Call to Action Start -->
<div class="container-xxl py-5">
    <%= render "welcome/shared/stories" %> 
</div>
<!-- Call to Action Start -->
<div class="container-xxl py-5">
    <%= render "welcome/shared/join" %> 
</div>
<!-- Call to Action End -->
<div class="container-xxl py-5">
    <%= render "welcome/shared/engaged" %>
</div>


<!-- newsletter -->
<div class="container-xxl py-5">
    <%= render "welcome/shared/email_letter" %>
</div>
<!-- newsletter End -->




 <!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <%= render "welcome/shared/footer" %>
</div>
<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
    <i class="bi bi-arrow-up"></i>
</a>
</div>