<div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Nos champs Action+</h1>
                    <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <%= link_to root_path, class:"cat-item d-block bg-light text-center rounded p-3" do %>
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <%= image_tag "images/icon-apartment.png", class:"img-fluid", alt:"Icon" %>
                                </div>
                                <h6>Education</h6>
                                <span>123 Actions Réalisée</span>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <%= link_to root_path, class:"cat-item d-block bg-light text-center rounded p-3" do %>
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    
                                    <%= image_tag "images/icon-villa.png", class:"img-fluid", alt:"Icon" %>
                                </div>
                                <h6>Logement </h6>
                                <span>12.305 Familles logées</span>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                       <%= link_to root_path, class:"cat-item d-block bg-light text-center rounded p-3" do %>
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                 
                                 <%= image_tag "images/icon-house.png", class:"img-fluid", alt:"Icon" %>
                                   
                                </div>
                                <h6>Champs 3</h6>
                                <span>123 xxx</span>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <%= link_to root_path, class:"cat-item d-block bg-light text-center rounded p-3" do %>
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                
                                <%= image_tag "images/icon-housing.png", class:"img-fluid", alt:"Icon" %>
                                    
                                </div>
                                <h6>Faim</h6>
                                <span>123 Hectares cultivable</span>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <%= link_to root_path, class:"cat-item d-block bg-light text-center rounded p-3" do %>
                            <div class="rounded p-4">
                                <div class="icon mb-3">
    
                                <%= image_tag "images/icon-building.png", class:"img-fluid", alt:"Icon" %>
                                    
                                </div>
                                <h6>Educcation</h6>
                                <span>123 classes</span>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <%= link_to root_path, class:"cat-item d-block bg-light text-center rounded p-3" do %>
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                
                                <%= image_tag "images/icon-neighborhood.png", class:"img-fluid", alt:"Icon" %>
                                    
                                </div>
                                <h6>Eau</h6>
                                <span>123 Pompes installées</span>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        
                        <%= link_to root_path, class:"cat-item d-block bg-light text-center rounded p-3" do %>
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                
                                <%= image_tag "images/icon-condominium.png", class:"img-fluid", alt:"Icon" %>
                                   
                                </div>
                                <h6>Shop</h6>
                                <span>123 Senoufo habillé</span>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <%= link_to root_path, class:"cat-item d-block bg-light text-center rounded p-3" do %>
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                <%= image_tag "images/icon-luxury.png", class:"img-fluid", alt:"Icon" %>
                                </div>
                                <h6>Emploi</h6>
                                <span>123 en poste</span>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>