
<div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-3">Engager avec Action+</h1>
        <p class="text-black">Les membres de <span class="uppercase font-semibold underline">Une action de <sup>+</sup> </span>aident à apporter de l'eau potable, à scolariser et de la lumiére à 52,954 personnes tout les mois.</p>
    </div>
    <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <%= image_tag "team-1.jpg", class:"img-fluid", alt:"" %>

                    <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center p-4 mt-3">
                    <h5 class="fw-bold mb-0">Full Name</h5>
                    <small>Designation</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <%= image_tag "team-2.jpg", class:"img-fluid", alt:"" %>
                    <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center p-4 mt-3">
                    <h5 class="fw-bold mb-0">Full Name</h5>
                    <small>Designation</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <%= image_tag "team-3.jpg", class:"img-fluid", alt:"" %>
                    <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center p-4 mt-3">
                    <h5 class="fw-bold mb-0">Full Name</h5>
                    <small>Designation</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item rounded overflow-hidden">
                <div class="position-relative">
                    <%= image_tag "team-4.jpg", class:"img-fluid", alt:"" %>
                    <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center p-4 mt-3"<h5 class="fw-bold mb-0">Full Name</h5>
                    <small>Designation</small>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 wow fadeInUp flex justify-content item-center">
            <div class="container">
                <p class="">
                    Un Action de <sup>+</sup> est une communauté de donateurs mensuel a impact positif pour resoudre le problème de l'eau potable, de la scolarisation et de l'élèctrification dans le monde. 
                </p>
                <%= link_to root_path, class:"btn btn-dark py-3 px-4" do %>Rejoindre Une Action de<sup>+</sup><% end %>
            </div>
        </div>
    </div>
</div>


