<div class="container py-5">
    <div class="row g-5">
        <div class="col-lg-3 col-md-6">
            <h5 class="text-white mb-4">Nous contactez</h5>
            <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, Montreal, Canada</p>
            <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
            <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
            <div class="d-flex pt-2">
                <%= link_to root_path, class:"btn btn-outline-light btn-social" do %><i class="fab fa-twitter"></i><% end %>
                <%= link_to root_path, class:"btn btn-outline-light btn-social" do %><i class="fab fa-facebook-f"></i><% end %>
                <%= link_to root_path, class:"btn btn-outline-light btn-social" do %><i class="fab fa-youtube"></i><% end %>
                <%= link_to root_path, class:"btn btn-outline-light btn-social" do %><i class="fab fa-linkedin-in"></i><% end %>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <h5 class="text-white mb-4">Liens Rapide</h5>
            <%= link_to root_path, class:"btn btn-link text-white-50" do %>Mission<% end %>
            <%= link_to root_path, class:"btn btn-link text-white-50" do %>Adhesion<% end %>
            <%= link_to root_path, class:"btn btn-link text-white-50" do %>Nos Actions<% end %>
            <%= link_to root_path, class:"btn btn-link text-white-50" do %>Utilisation des Données<% end %>
            <%= link_to root_path, class:"btn btn-link text-white-50" do %>Termes & Condition d'utilisation<% end %>
        </div>
        <div class="col-lg-3 col-md-6">
            <h5 class="text-white mb-4">Action+ en Image</h5>
            <div class="row g-2 pt-2">
                <div class="col-4">
                    <%= image_tag  "mali.jpeg", class:"img-fluid rounded bg-light p-1", alt:"" %>
                </div>
                <div class="col-4">
                    <%= image_tag  "mali.jpeg", class:"img-fluid rounded bg-light p-1", alt:"" %>
                </div>
                <div class="col-4">
                    <%= image_tag  "mali.jpeg", class:"img-fluid rounded bg-light p-1", alt:"" %>              
                </div>
                <div class="col-4">
                    <%= image_tag  "mali.jpeg", class:"img-fluid rounded bg-light p-1", alt:"" %>   
                </div>
                <div class="col-4">
                    <%= image_tag  "mali.jpeg", class:"img-fluid rounded bg-light p-1", alt:"" %>
                </div>
                <div class="col-4">
                    <%= image_tag  "mali.jpeg", class:"img-fluid rounded bg-light p-1", alt:"" %>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <h5 class="text-white mb-4">Newsletter</h5>
            <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
            <div class="position-relative mx-auto" style="max-width: 400px;">
                <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="votre email">
                <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">S'inscrire</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="copyright">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy;  <%= Date.today.year %> <a class="border-bottom" href="#">Action+ </a>, Tous droits reservé. 
            </div>
            <div class="col-md-6 text-center text-md-end">
                <div class="footer-menu">
                    <a href="">Home</a>
                    <a href="">Cookies</a>
                    <a href="">Aide</a>
                    <a href="">FAQ</a>
                </div>
            </div>
        </div>
    </div>
</div>
