<nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
    <%= link_to root_path, class:"navbar-brand d-flex align-items-center text-center" do %>
        <div class="icon p-2 me-2">
            <%= image_tag "ActionIco-r.png", class:"img-fluid", alt:"Icon", style:"width: 30px; height: 30px;" %>
        </div>
        <h1 class="m-0 text-primary">Action<sup class="">+</sup></h1>
    <% end %>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto">         
            
            <%= link_to 'Nous découvrir', "nous-decouvrir", class:"nav-item nav-link active" %>
            
            <%= link_to 'Agisons Ensemble', "agisons-ensemble", class:"nav-item nav-link" %>
            <div class="nav-item dropdown">
                <%= link_to root_path, class:"nav-link dropdown-toggle", "data-bs-toggle":"dropdown" do %>En Action<% end %>
                <div class="dropdown-menu rounded-0 m-0">
                    <%= link_to root_path, class:"dropdown-item" do %>Parrainnez un projet<% end %>
                    <%= link_to root_path, class:"dropdown-item" do %>Sur Terrain<% end %>
                </div>
            </div>
            <%= link_to 'Devenez Adhérent', new_user_registration_path, class:"nav-item nav-link" %>
                   
            <%= link_to "S'identifier", new_user_session_path, class:"nav-item nav-link active" %>
        </div>      
        <%= link_to 'Faire un don', root_path, class:"outline-none rounded-lg border-2 border-green-500 p-2 uppercase font-semibold text-black no-underline" %>
    </div>
</nav>